body {
  margin: 0 auto;
  text-align: center;
}

.slider {

  &__image {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

img {
  width: 700px;
  height: 400px;
  display: none;
  visibility: hidden;

  &.active {
    display: inline-block;
    visibility: visible;
  }
}

